#precache{
    width:200px;
    height:150px;    
    min-width: 200px;
    min-height: 150px;
    position:absolute;
    overflow: hidden;
}

#precache h2{
    z-index: 99999;
    font-size: 50px;
    position: relative;
    margin-top:0px;
    margin-bottom: 10px;
}

#precacheProgress{
    z-index: 10;   
}

.loaded{
    max-height: 50px;
    max-width: 50px;
    position:absolute;
    bottom:0px;
    z-index: 10;
}

#dots{
    font-size: 30px;
}


